<!-- <template name="levels">
  <button type="button" class="level1">level 1</button>
  <button type="button" class="level2">level 2</button>
</template> -->


<template name="screen1">
<!-- 	Last updated: {{lastUpdate}}
 --><!-- 	{{#each imgArr}} -->
		<!-- {{#each loopCount 4}}
			 <div class="row" style="min-height:{{heightWin}}"> -->
		  	{{#each loopCount 12}}
		  		<div id="{{counter}}" class="col-xs-4 pad_none imghidden" data-col="1" style="background-color:{{randomColor}};min-height:{{heightWin}};background-image:url('{{imageUrl}}');background-repeat:no-repeat;background-position:center;"></div>
		  	{{/each}}
		  	<!-- </div>
		{{/each}} -->
<!-- 		return
	{{/each}} -->
</template>


<template name="screen2">
	 <!-- Last updated: {{lastUpdate}} -->
	{{#each loopCount 12}}
		  		<div id="{{counter}}" class="col-xs-4 pad_none imghidden" data-col="1" style="background-color:{{randomColor}};min-height:{{heightWin}};background-image:url('{{imageUrl}}');background-repeat:no-repeat;background-position:center;"></div>
		  	{{/each}}
</template>


<template name="screen3">
	<!-- {{#each loopCount 4}}
		<div class="row" style="min-height:{{heightWin}}"> -->
		  {{#each loopCount 12}}
		  <div id="{{counter}}" class="col-xs-4 pad_none imghidden" data-col="1" style="background-color:{{randomColor}};min-height:{{heightWin}};background-image:url('{{imageUrl}}');background-repeat:no-repeat;background-position:center;"></div>{{/each}}<!-- </div>
	{{/each}} -->
</template>


<template name="screen4">
{{#each loopCount 12}}
		  		<div id="{{counter}}" class="col-xs-4 pad_none imghidden" data-col="1" style="background-color:{{randomColor}};min-height:{{heightWin}};background-image:url('{{imageUrl}}');background-repeat:no-repeat;background-position:center;"></div>
		  	{{/each}}
</template>
